// Params
$gray3: #3d3d3d;
$gray5: #595959;
$green: #67cb33;

// Mixins
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
	 box-shadow: $shadow;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin pleceholder-color($color) {
	&::-webkit-input-placeholder {color:$color;}
	&::-moz-placeholder          {color:$color;}
	&:-moz-placeholder           {color:$color;}
	&:-ms-input-placeholder      {color:$color;}
}
@mixin rotate($deg) {
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin horiz-gradient($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
  background: linear-gradient(to right, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}