.row.assistance
	p.assistance__title Assistance: сервисная поддержка по всему миру
	.large-6.columns.assistance__text
		p При наступлении страхового случая владелец полиса Zetta Insurance Company Ltd может обратиться за поддержкой по указанным в документе телефонам.
		p Круглосуточное обслуживание клиентов осуществляет AP Companies. Это крупнейшая сервисная компания мирового масштаба. AP Companies организовала сотрудничество с 37 700 медицинскими подрядчиками в различных странах. Услуги владельцам страховых полисов предоставляются на 175 языках мира, круглосуточно, 7 дней в неделю. Их перечень и объем зависит от вида приобретенного полиса и набора опций по договору.
		p Консультацию специалиста по страхованию выезжающих за рубеж можно получить по телемфону #[a(href='tel:+78005503282') 8 800 550-32-82] Также на сайте работает форма обратной связи.
	.large-3.columns.assistance__links
		a(href='/o-kompanii/strahovoisluchai.php').btn.btn_color_void Страховой случай
		a(href='/o-kompanii/vopros.php') Вопрос-ответ
		a(href='/o-kompanii/chto-pokrivaet-strahovka.php') Что покрывает страховка?
	.large-3.columns
