.calc.calc-horiz
	.row
		.large-4.columns
			label Куда поедете?
			.calc__h-country-inp
				span
				input(type="text",placeholder="Введите название страны").calc__country-inp
			.calc__h-duration-cb
				input#multyPolis(type="checkbox")
				label(for="multyPolis") Полис на год
			span.calc__duration-add-ico +
			span.calc__duration-add-btn добавить страну
		.large-2.columns
			label Отъезд
			input(type="text",name="departureDate")
		.large-2.columns
			label Возвращение
			input(type="text",name="returnDate")
		.large-2.columns
			label Количество путешественников
			input(type="text")
			.calc__h-promo
			span.calc__promo-btn Промокод
			span.calc__promo-ico
				.calc__promo-desc Промо-код дает право на скидку. Поле не обязательно для заполнения.
		.large-2.columns
			.calc__submit-btn Узнать цену