.idea.idea-home
	.idea__light
	.idea__h-text
		p.idea__title Покупайте не выходя из дома!
		p.idea__desc Вы можете оплатить страховку для поездки за границу на нашем сайте любым удобным для Вас способом и без комиссии!