.idea.idea-lifehack
	.idea__light
		.idea__h-text
			p.idea__title Лайфхак
			p.idea__desc Запишите #[span.bold.red номер телефона сервисной компании], а также #[span.bold.red номер вашего полиса] в контакты телефона.#[br]Требуется помощь? Сразу звоните по этому телефону. Сервисная компания организует помощь!