- var items = ["Медицинские расходы. Экстренная помощь при травме, сильной зубной боли, перевозка медицинским транспортом, расходы на возвращение домой после длительной госпитализации и посмертная репатриация тела.","Транспортные расходы. Визит третьих лиц к пострадавшему, эвакуация детей, досрочное или временное возвращение, происшествия с багажом, прерывание поездки.","Юридические расходы. Правовая помощь, потеря паспорта и других документов, урегулирование гражданских споров с третьими лицами."];
mixin numberBlock(number)
	.b-imgbg__h-counter
		.b-imgbg__number #{number}
		span.b-imgbg__delimeter

.risks.b-imgbg
	.row
		p.b-imgbg__title От каких рисков защищают полисы#[br]Zetta Insurance Company Ltd?
		each item,i in items
			.large-3.columns
				+numberBlock(i+1)
				p.b-imgbg__desc #{item}