.row.search
	form(action="/search/index.php")
		.large-12.columns
			.row.collapse
				.small-10.columns
					input(type="text",name="q",placeholder="Введите интересующий вас вопрос")
				.small-2.columns
					input(type="submit",name="s",value="Найти").search__submit-btn.button