- var items = ["возможность получения качественной медицинской помощи","многофункциональность — у нас турист может застраховать здоровье, ответственность перед третьими лицами, багаж, другие финансовые риски","удобство для клиента. Для того чтобы ездить по всему миру, достаточно оформить один страховой полис"];
mixin numberBlock(number)
	.b-imgbg__h-counter
		.b-imgbg__number #{number}
		span.b-imgbg__delimeter

.zetta-adv.b-imgbg
	.row
		p.b-imgbg__title Одно из направлений работы компании Zetta#[br]Insurance Company Ltd — страхование деловых и#[br]туристических поездок, преимуществами которого<br>являются:
		each item,i in items
			.large-3.columns
				+numberBlock(i+1)
				p.b-imgbg__desc #{item}