h1 Контакты
a(href="tel:88005503282" style="font-size: 22px;") 8 (800) 550-32-82
span  – звонок по России бесплатный
br
a(href="tel:+74957993282" style="font-size: 22px;") 8 (495) 799-32-82
span  – Москва
p Вы можете задать вопрос консультанту онлайн, найти ответ на Ваш вопрос в разделе #[a(href="/o-kompanii/vopros.php", style="text-decoration: underline;").bold FAQ] или напишите нам на e-mail: #[a(href="mailto:support@safety-rest.ru" style="text-decoration: underline;") support@safety-rest.ru]

.soc-contacts
	.soc-contacts__title Официальные аккаунты в соцсетях:
	.soc-contacts__h-links
		a(href="https://vk.com/safety_rest", rel="nofollow").soc-contacts__vk
		a(href="https://www.facebook.com/safetyrestru/", rel="nofollow").soc-contacts__fb
		a(href="https://www.instagram.com/safetyrestru/", rel="nofollow").soc-contacts__ig
.b-tabs.contacts
	.b-tabs__head
		button(onclick="openBlock(event, 'about')").b-tabs__tab-btn.active О компании
		button(onclick="openBlock(event, 'address')").b-tabs__tab-btn Адрес
		button(onclick="openBlock(event, 'requisits')").b-tabs__tab-btn Банковские реквизиты
		button(onclick="openBlock(event, 'partners')").b-tabs__tab-btn Сотрудничество
	#about.b-tabs__content
		p Safety Of Rest - наименование юридического лица ООО "Лигуре".
		p Мы являемся официальным представителем крупнейшей страховой компании Zetta Insurance Company Ltd (бывш. Zurich Insurance). Основание сотрудничества — агентский договор № АГД-991-009222/12 от 12.11.2012 г.
		p Assistance (сервисная компания) - AP-companies.
	#address.b-tabs__content
		h3 Телефоны:
		a(href="tel:88005503282", style="font-size: 22px;") 8-800-550-32-82
		span  - звонок по России бесплатный
		br
		a(href="tel:+74957993282", style="font-size: 22px;") +7 (495) 799-32-82
		span  - Москва
		h3 Website:
		a(href="/") www.safety-rest.ru
		h3 E-mail:
		a(href="mailto:support@safety-rest.ru") support@safety-rest.ru
		h3 Адрес:
		p Юридический адрес:#[br]Россия, 125464, г. Москва, Пятницкое ш., д. 15, корп. 3, оф. 312
		p Фактический адрес:#[br]Россия, 125464, г. Москва, Пятницкое ш., д. 15, корп. 3, оф. 312
	#requisits.b-tabs__content
		p Реквизиты:
			#[br] ООО "Лигуре" (Safety Of Rest)
			#[br] ИНН 7733816032/ КПП 773301001 
			#[br] ОГРН 1127746758655
			#[br] Генеральный директор — Пионтковская Юлия Игоревна
			#[br] #[br] Банковские реквизиты:
			#[br] Банк: ОАО «АЛЬФА-БАНК» 
			#[br] р/с 40701810502780000002 
			#[br] к/с 30101810200000000593 
			#[br] БИК 044525593
	#partners.b-tabs__content
		p Всю интересующую Вас информацию Вы можете уточнить также непосредственно в страховой компании Zetta Insurance Company Ltd позвонив по телефону горячей линии 8 (800) 700 77 07 или найти на #[a(href="http://www.zettains.ru", style="text-decoration: underline;" rel="nofollow") www.zettains.ru]
		p Наш Куратор в страховой компании «Зетта Страхование» Алексей Коптев
		p Начальник отдела выезжающих за рубеж
		#[br] Департамента партнерских продаж
		#[br] филиала «Московский»
		#[br] ООО «Зетта Страхование»
		#[br] Тел. +7 (495) 967 17 81, доб. 7532
		#[br] e-mail: #[a(style="text-decoration: underline;", href="mailto:aleksey.koptev@zettains.ru") aleksey.koptev@zettains.ru]
		#[br] СК ООО «Зетта Страхование»
		#[br] 121087, Москва Багратионовский проезд, 7 корп.11
a(href="/o-kompanii.php").btn.btn_color_void Подробнее