.pay-pyramide
	.row
		.large-2.columns.pay-pyramide__row-title
			p Банковская карта
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-master
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-visa
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-mir
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-pay
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-alfa
	.row
		.large-2.columns.pay-pyramide__row-title
			p Электронным кошельком
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-qiwi
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-ya
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-webm
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-eks
		.large-2.columns
	.row
		.large-2.columns.pay-pyramide__row-title
			p Сотовые операторы
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-mts
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-beeline
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-tele2
		.large-4.columns
	.row
		.large-2.columns.pay-pyramide__row-title
			p Салоны связи
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-euros
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-svyaz
		.large-6.columns
	.row
		.large-2.columns.pay-pyramide__row-title
			p В терминале
		.large-2.columns
			.pay-pyramide__img.pay-pyramide__img-qiwi
		.large-8.columns

