- var items = [];

.social
	p.social__title Оставляйте Ваши отзывы в наших аккаунтах в соцсетях
	.social__h-links
		a(href="#").social__link.social__vk Оставить отзыв
		a(href="#").social__link.social__fb Оставить отзыв
		a(href="#").social__link.social__ig #safetyrestru_отзывы
h1 Отзывы
.feedback
	each item in items
		.feedback__item
			.feedback__h-img
				img(src="#{item.src}", alt="")
			a.feedback__text
				p.feedback__author.text-right #{item.text}
				a(href="#", class="").feedback__viewmore.text-right Посмотреть отзыв
