
.feedback
	p.feedback__title Оставляйте Ваши отзывы в наших аккаунтах в соцсетях
	.feedback__h-links
		a(href="#").feedback__link.feedback__vk Оставить отзыв
		a(href="#").feedback__link.feedback__fb Оставить отзыв
		a(href="#").feedback__link.feedback__ig #safetyrestru_отзывы
h1 Отзывы