.assistance {
	background: #fff url('../images/redesign/peoples3.png') no-repeat right;
	min-height: 350px;
	padding: 20px 26px 0;
	&__title {
		color: $green;
		font-size: 22px;
		line-height: 32px;
	}
	&__text {
		padding-left: 0;
		 p {
			line-height: 18px;
		}
	}
	&__links {
		text-align: center;
		a:not(.btn) {
			text-decoration: underline;
			font-size: 13px;
			display: block;
			margin-top: 10px;
			&:hover {
				text-decoration: none;
			}
		}
		.btn {
			margin: 0 auto 20px;
			width: 175px;
		}
	}
}