.contactus {
	background: url('../images/redesign/contactus-bg.png') no-repeat;
	background-size: cover;
	padding: 20px;
	&__title {
		color: #fff;
		font-size: 30px;
		line-height: 1.2;
		text-align: center;
	}
	&__btn {
		display: block;
		width: 200px;
		height: 36px;
		line-height: 36px;
		margin: 26px auto 0;
		text-transform: uppercase;
		text-decoration: none;
		border-radius: 3px;
		font-size: 13px;
		text-align: center;
		font-weight: bold;
		&-quest {
			background: $yellow;
			color: $gray3;
			&:hover,
			&:active {
				background: #e4b600;
				color: $gray3;
			}
		}
		&-call {
			background: $green;
			color: #fff;
			&:hover {
				border-left: solid 2px #93b26c;
				border-right: solid 2px #93b26c;
				border-bottom: solid 2px #457a01;
				border-radius: 5px;
				box-sizing: border-box;
			}
			&:active {
				background: #59aa29;
				border-radius: 5px;
				box-sizing: border-box;
			}
		}
	}
}