.geography {
	padding: 0 15px;
	&__country {
		margin-right: 60px;
		text-align: center;
		a {
			font-size: 18px;
			color: #333;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		img {
			margin-bottom: 20px;
		}
	}
}