.p-topic {
	h1 {
		color: #fff;
	}
}

.p-topic-russia {
	background: url('../images/redesign/russ.png');
	background-size: cover;
	min-height: 358px;
	h1 {
		color: #fff;
		margin-left: 40px;
	}
	.calc {
		margin: 0 10px;
	}
}
.p-topic-spain {
	background: url('../images/redesign/spain.png');
	background-size: cover;
	min-height: 358px;
	h1 {
		color: #fff;
		margin-left: 40px;
	}
	.calc {
		margin: 0 10px;
	}
}

.count-slider {
	&__item {
		height: 140px;
		overflow: hidden;
		width: 245px;
		margin: 0 20px;
	}

}