.h-offers,
.offers {
	margin: 0;
}
.h-offers {
	position: relative;
	&__title {
		color: #fff;
		font-size: 18px;
		position: absolute;
		top: 30px;
		left: 55px;
		margin: 0;
		z-index: 100;
	}
}
.offers-item {
	background: url('../images/redesign/peoples1.png') no-repeat;
	height: 385px;
	padding: 30px 40px;
	&__title {
		font-size: 40px;
		color: #fff;
		line-height: 45px;
		margin: 40px 0 25px;
	}
}