.soc-link {
	fill: #595959;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.soc-link:hover {
	fill: #0e69ba;
}
.joinus .soc-link {
	width: 28px;
}
.joinus .soc-link-vk svg {
	width: 28px;
	height: 15px;
}
.joinus .soc-link-fb svg {
	width: 10px;
	height: 19px;
}
.joinus .soc-link-ig svg {
	width: 20px;
	height: 20px;
}

.soc-contacts .soc-link {
	width: 56px;
}
.soc-contacts .soc-link-vk svg {
	width: 56px;
	height: 30px;
}
.soc-contacts .soc-link-fb svg {
	width: 20px;
	height: 38px;
}
.soc-contacts .soc-link-ig svg {
	width: 40px;
	height: 40px;
}

