.h-stock,
.stock {
	margin: 0;
}
.h-stock {
	position: relative;
	&__title {
		color: $gray3;
		font-size: 18px;
		position: absolute;
		top: 30px;
		left: 55px;
		margin: 0;
		z-index: 100;
	}
}
.stock-item {
	background: url('../images/redesign/peoples2.png') no-repeat;
	height: 385px;
	padding: 30px 40px;
	&__text {
		font-size: 24px;
		color: #000;
		line-height: 30px;
		margin: 40px 0 25px;
		.green {
			font-size: 35px;
			font-weight: bold;
			color: $green;
		}
	}
}