.f-call
	.f-call__close
	.f-call__header
		p.f-call__title Мы ответим на любой интересующий Вас вопрос!
	form
		.row
			.large-12.column
				label Ваше имя
					input(type="text",name="name",placeholder="Как к Вам обращаться")
		.row
			.large-12.column
				label Ваш телефон *
					input(type="text",name="phone",placeholder="+7 (___) ___-__-__")
		.row
			.large-12.column
				a.btn.btn_color_green Отправить