.f-login.form-popup
	.form-popup__close
	.form-popup__h-form
		.form-popup__header
			p.form-popup__title Вход на сайт
			p.f-login__header-desc Ещё нет учётной записи? #[a(href="#") Регистрация]
		form
			input(type="hidden" name="form_type" value="login")
			.row
				.large-12.column
					label Ваше e-mail:
						input(type="text",name="login",placeholder="pochta@pochta.ru")
			.row
				.large-5.column
					label Пароль:
				.large-7.column
					a(href="#").f-login__forgot.float-right Забыли пароль?
			.row
				.large-12.column
					input(type="text",name="pass",placeholder="Ваш пароль")
			.row
				.large-12.column
					a.btn.btn_color_green.btn-submit Отправить
	.f-login__bottom
		.f-login__h-soc
			p.f-login__soc-title Вход через социальные сети
			.row
				.large-6.column
					a(href="#").f-login__soc-link.f-login__fb Facebook
				.large-6.column
					a(href="#").f-login__soc-link.f-login__vk Вконтакте

		p.f-login__desc Зарегистрируйтесь в своем личном кабинете или войдите в него через свой аккаунт в социальной сети. Это позволит Вам сохранить информацию о страховом полисе, чтобы в случае необходимости Вы смогли им воспользоваться в любой точке мира. В личном кабинете Вы также можете сохранить свои данные, и Вам не придется вводить их в следующий раз.
		p.f-login__desc Мы гарантируем конфиденциальность. Ваши персональные данные не попадут к третьим лицам, мы используем их только для того, чтобы Вам было удобно пользоваться сервисом www.safety-rest.ru